################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/SOLID_MPP_ATVS/.vs/SOLID_MPP_ATVS/FileContentIndex
